[submodule "zsh/oh-my-zsh-powerline-theme"]
	path = zsh/oh-my-zsh-powerline-theme
	url = git@github.com:brownbathrobe/oh-my-zsh-powerline-theme.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
