[submodule "vim/vim.symlink/bundles/ack.vim"]
	path = vim/vim.symlink/bundles/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundles/cocoa.vim"]
	path = vim/vim.symlink/bundles/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "vim/vim.symlink/bundles/coffee-script.vim"]
	path = vim/vim.symlink/bundles/coffee-script.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundles/ctrlp.vim"]
	path = vim/vim.symlink/bundles/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundles/fugitive.vim"]
	path = vim/vim.symlink/bundles/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundles/gitignore.vim"]
	path = vim/vim.symlink/bundles/gitignore.vim
	url = https://github.com/vim-scripts/gitignore.git
[submodule "vim/vim.symlink/bundles/nerdtree.vim"]
	path = vim/vim.symlink/bundles/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundles/pathogen.vim"]
	path = vim/vim.symlink/bundles/pathogen.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundles/powerline.vim"]
	path = vim/vim.symlink/bundles/powerline.vim
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundles/snipmate.vim"]
	path = vim/vim.symlink/bundles/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundles/solarized.vim"]
	path = vim/vim.symlink/bundles/solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundles/supertab.vim"]
	path = vim/vim.symlink/bundles/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundles/surround.vim"]
	path = vim/vim.symlink/bundles/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundles/tagbar.vim"]
	path = vim/vim.symlink/bundles/tagbar.vim
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundles/tcomment.vim"]
	path = vim/vim.symlink/bundles/tcomment.vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundles/indent-guides.vim"]
	path = vim/vim.symlink/bundles/indent-guides.vim
	url = https://github.com/nathanaelkane/vim-indent-guides.git
