[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/cocoa.vim"]
	path = vim/vim.symlink/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "vim/vim.symlink/bundle/coffee-script.vim"]
	path = vim/vim.symlink/bundle/coffee-script.vim
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/fugitive.vim"]
	path = vim/vim.symlink/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/gitignore.vim"]
	path = vim/vim.symlink/bundle/gitignore.vim
	url = https://github.com/vim-scripts/gitignore.git
[submodule "vim/vim.symlink/bundle/nerdtree.vim"]
	path = vim/vim.symlink/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/pathogen.vim"]
	path = vim/vim.symlink/bundle/pathogen.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/powerline.vim"]
	path = vim/vim.symlink/bundle/powerline.vim
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/snipmate.vim"]
	path = vim/vim.symlink/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundle/solarized.vim"]
	path = vim/vim.symlink/bundle/solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/supertab.vim"]
	path = vim/vim.symlink/bundle/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/surround.vim"]
	path = vim/vim.symlink/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/tagbar.vim"]
	path = vim/vim.symlink/bundle/tagbar.vim
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/tcomment.vim"]
	path = vim/vim.symlink/bundle/tcomment.vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/indent-guides.vim"]
	path = vim/vim.symlink/bundle/indent-guides.vim
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim.symlink/bundle/trailing-whitespace.vim"]
	path = vim/vim.symlink/bundle/trailing-whitespace.vim
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/vim.symlink/bundle/autoclose.vim"]
	path = vim/vim.symlink/bundle/autoclose.vim
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/vim.symlink/bundle/haml.vim"]
	path = vim/vim.symlink/bundle/haml.vim
	url = https://github.com/tpope/vim-haml.git
